{% extends "main.html" %}

{% block about %}

    <header>
        <h1>Welcome to the club, buddy</h1>
        <nav class="d-flex flex-column">
            <a href="{{ url_for('main') }}">Нихуя</a>
            <a href="{{ url_for('blackjack') }}">Блэкджэк</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Абоба</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </section>
        <section>
            <h2>Фичи:</h2>
            <ul class="d-flex flex-column">
                <li class="huina-li">Хуйня 1</li>
                <li class="huina-li">Хуйня 2</li>
                <li class="huina-li">Хуйня 3</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 HSE Casino ft. HSE Escort Club</p>
    </footer>
{% endblock %}