<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Арбуз</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the club, buddy</h1>
        <nav>
            <ul>
                <li><a href="/">Нихуя</a></li>
                <li><a href="/blackjack">Блэкджэк</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Абоба</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </section>
        <section>
            <h2>Фичи:</h2>
            <ul>
                <li>Хуйня 1</li>
                <li>Хуйня 2</li>
                <li>Хуйня 3</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 HSE Casino ft. HSE Escort Club</p>
    </footer>
</body>
</html>